/*RESET*/
*{margin: 0;font-family: 'Lato', sans-serif;padding: 0;font-size: 100%;
    border: none;outline: none;font-weight: 300;box-sizing: border-box;}
body{background-color: #f5f5f5;}
a{text-decoration: none;}
ul{list-style: none;}
img{max-width: 100%;}